{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<!-- Header-->
	<header class="bg-primary bg-gradient text-white">
		<div class="container px-4 text-center">
			<h1 class="fw-bolder">Biblios2</h1>
			<p class="lead">Biblios2 - projet - exercice Symfony</p>
			<a class="btn btn-lg btn-light" href="{{ path('app_catalog') }}">Parcourez le catalogue</a>
		</div>
	</header>
	<!-- About section-->
	<section id="about">
		<div class="container px-4">
			<div class="row gx-4 justify-content-center">
				<div class="col-lg-8">
					<h2>Biblios2</h2>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
