{% extends 'base.html.twig' %}


{% set action = app.current_route == 'app_admin_book_new' ? 'Ajout' : 'Édition' %}

{% block title %}
	{{ action }}
	de livre
{% endblock %}


{% block body %}


	<div class="w-50 m-auto">
		<h1>Ajouter un Livre</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-primary">Ajouter un Livre</button>
		{{ form_end(form) }}</div>
{% endblock %}
